.card-editar-livro {
  padding: 10px;
  background-color: #e0e0e0;
}

.card-editar-livro .card-title{
  font-size: 1.3rem;
  margin-bottom: 5px;
  line-height: 1.2;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px 15px 0 0;
}
