<mat-card class="card-editar-livro mat-elevation-z3">
  <mat-card-title class="card-title">
    Atualizar Livro
  </mat-card-title>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Título do livro</mat-label>
      <input matInput name="titulo" required [(ngModel)]="livro.titulo">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Autor(es) do livro</mat-label>
      <input matInput name="autor" required [(ngModel)]="livro.autor">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ISBN</mat-label>
      <input matInput name="isbn" required [(ngModel)]="livro.isbn">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categoria do livro</mat-label>
      <input matInput placeholder="Ex: Aventura, Romance, etc..." name="categoria" required [(ngModel)]="livro.categoria">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data da publicação do livro</mat-label>
      <input matInput placeholder="DD/MM/AAAA" name="dataPublicacao" required [(ngModel)]="livro.dataPublicacao">
      <mat-icon matSuffix>calendar_month</mat-icon>
    </mat-form-field>
  </form>

  <div>
    <button mat-flat-button color="primary" (click)="editarLivro()">Salvar</button>
    <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
  </div>
</mat-card>
