.card-livro {
  padding: 10px;
  background-color: #e0e0e0;
}

.card-livro .card-title{
  font-size: 1.3rem;
  margin-bottom: 5px;
  line-height: 1.2;
}

.card-livro .card-subtitle{
  font-size: 1rem;
}

.table {
  margin-top: 30px;
  width: 100%;
}

.titulo-usuario {
  display: flex;
  justify-content: space-between;
}

.table-container {
  height: 60vh;
  overflow-y: auto;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 99999 !important;
  background-color: rgb(236, 236, 236);
}
