.table {
  margin-top: 30px;
  width: 100%;
}

button {
  margin-right: 5px;
  height: 30px !important;
  min-width: 30px !important;
  width: 30px;
}

.table-container {
  height: 65vh;
  overflow-y: auto;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 99999 !important;
  background-color: rgb(236, 236, 236);
}
