<mat-card class="card-livro mat-elevation-z3">
  <mat-card-title class="card-title">
    <div class="add-livro">
      Livros
        <div class="btn-add-livro">
          <button mat-flat-button color="primary" (click)="navigateToCriacaoLivro()">Adicionar Livro</button>
          <button mat-flat-button color="primary" (click)="navigateToListagemLivrosGoogleBooks()">Buscar no Google Books</button>
        </div>
    </div>
  </mat-card-title>
</mat-card>

<app-listagem-livro></app-listagem-livro>
